@model IEnumerable<WishList.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <tr>
        <th>Product Image</th>
        <th style="padding-left: 10%;width: 20%">Product Title</th>
        <th style="padding-left: 10%;width: 20%">SKU</th>
        <th style="padding-left: 10%;width: 20%">Barcode</th>
        <th style="padding-left: 5%;width: 20%">Customer Name</th>
        <th style="width: 20%">Customer Email</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td style="width:15%">
            <img style="width:100%" src="@item.variant_image" />
        </td>
        <td style="padding-left: 10%;width: 20%">
            @Html.DisplayFor(modelItem => item.product_title)
        </td>
        <td style="padding-left: 10%;width: 20%">
            @Html.DisplayFor(modelItem => item.variant_sku)
        </td>
        <td style="padding-left: 10%;width: 20%">
            @Html.DisplayFor(modelItem => item.variant_barcode)
        </td>
        <td style="padding-left: 5%;width: 20%">
            @Html.DisplayFor(modelItem => item.customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer_email)
        </td>
    </tr>
    }
</table>